
<nav class="navbar navbar navbar-dark bg-dark navbar-expand-lg fixed-top " id="mainNav">
  <div class="container">
   
    <a class="navbar-brand js-scroll-trigger" href="/dashboard" > <img src ="{{ url_for('static', filename = '44.png')}}"  width="35" height="35" /> Smart Door Security System</a>
     
    <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/dashboard">Home</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/database">Data</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>
