<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Smart Door </title>
    <link rel="icon" type="image/gif" href="{{ url_for('static', filename = '44.png')}}" />
    <script src="{{ url_for ('static', filename= 'js/jQuery1.7.1.js')}}"></script>
    <script src="{{ url_for ('static', filename= 'js/jquery-3.3.1.js')}}"></script>

    <link  rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type = "text/css">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type = "text/css">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/new.css') }}" type = "text/css">
    <link  rel="stylesheet" href="{{ url_for('static', filename='css/glyphicon.css') }}" type = "text/css">


  </head>

  <body id="page-top">
    
    
   
    
    
     
      {% if session.logged_in %}
      {% include 'includes/_navbar.html' %}
      {% endif %}

    <div class="container">
        {% include 'includes/_messages.html' %}

        {% block body%}   {% endblock %}
    </div>
</body>

<script src="{{ url_for ('static', filename= 'js/bootstrap.min.js')}}"></script>
<script src= "{{ url_for ('static', filename = 'js/jquery.min.js')}}"></script>
<script src= "{{ url_for ('static', filename = 'js/popper.min.js')}}"></script>

</html>

